.posts {
  list-style-type: none;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //padding: 15px;
}

.post {
  position: relative;
  margin: 15px;
  width: 100%;
  height: 100%;
  transition: all 0.1s ease;
  flex: 0 0 calc(33.33% - 30px);

  //border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  z-index: 5;

  a {
    display: block;
    //position: absolute;
    text-decoration: none;
    //overflow: hidden;
    img {
      //filter: blur(1px);

      //display: flex;
    }
  }
  a:hover {
    img {
      //opacity: 0.5;
    }
  }

  h2 {
    background: hsl(0, 0%, 96%);
    color: #000000;
    line-height: 1;
    margin: 0;
    padding: 0.5rem;
    font-size: 1rem;
  }
  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}
.post:hover {
  box-shadow: 0 0 13px 5px black;
  transform: scale(1.05) rotate(2deg);
  cursor: pointer;
  //border: 1px solid #c7419c;
  //border: 1px solid #ffffff;
  a {
    img {
      //filter: blur(0px);
    }
  }
}
.post:before {
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.33);
  transition: all 0.1s ease-in-out;
}

.post:hover:before {
  //overflow: visible;
  background-color: rgba(0, 0, 0, 0);
}
