.header {
  padding: 0 3rem;
  //background-color: #AD0840;
  //background-color: #404040;
  margin: 0 auto;
  max-width: 1200px;
  //height: 161.094px;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
